body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0052cc; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation {
  flex-grow: 1; /* Permet à la barre de navigation de prendre autant d'espace disponible */
}

.navigation a {
  color: #fff; /* Couleur du texte blanc pour les liens */
  text-decoration: none;
  margin-right: 20px; /* Espacement entre les liens */
  font-weight: bold;
}

.actions button {
  background-color: #0052cc; /* Couleur de fond bleue pour les boutons */
  color: #fff; /* Couleur du texte blanc */
  border: none;
  padding: 8px 16px;
  margin-left: 10px; /* Espacement entre les boutons */
  cursor: pointer;
}

.actions button:hover {
  background-color: #0576e5; /* Légère variation de couleur au survol */
}
